
<div class="container">
  <div class="dashboard-container">
    <div>
      <h1>Welcome aboard, <%= @user.name %> </h1>
      <p id="dashboard-description">You can see how many birds you own and which birds you have rented</p>
    </div>

    <!-- Make a list of birds appear here -->
    <div class="dashboard-birds">
      <div class="box-birds">
        <div class="box-birds-title">
          <h2>Birds you own</h2>
          <br>
        </div>
        <div>
          <% if @user.birds_for_rent.any? %>
            <% @user.birds_for_rent.each do |bird| %>
              <%= render partial: 'shared/bird-card', locals: {bird: bird} %>
            <% end %>
          <% else %>
            <h5>You are not renting out any birds <%= @user.name %>! Have you no parrots, falcons or hawks that can hunt? </h5>
          <% end %>
        </div>
      </div>

      <div class="box-birds">
        <div class="box-birds-title">
          <h3>Birds you have rented</h3>
        </div>
        <div>
          <% if @user.birds_for_rent.any? %>
            <% @user.birds_renting.each do |bird| %>
              <%= render partial: 'shared/bird-card', locals: {bird: bird} %>
            <% end %>
            <% else %>
              <h5>You are renting no birds <%= @user.name %>, rent some from us to help you steal all the booty you can find out at sea!! </h5>
            <% end %>
        </div>
      </div>
    </div>
    <%= link_to "Back to Main", root_path, class: "btn btn-primary btn-md" %>
  </div>


</div>
