<div class="col-xs-12 col-sm-4 col-md-4">
  <%= link_to bird_path(bird) do %>

    <div class="bird-card">

      <picture class="bird-card__image" role="img" aria-label="Parrot for a pirate">
        <%= cl_image_tag bird.photo %>
      </picture>

      <div class="bird-card__container">
        <div class="flex justify-between items-end">
          <div class="flex flex-column">
            <span class="bird-card__name"><%= bird.name %></span>
            <span class="bird-card__location"><%= bird.location %></span>
          </div>
          <span class="bird-card__price">$ <%= bird.price %></span>
        </div>
      </div>

    </div>

  <% end %>
</div>
