<div>
  <h1>Post your bird!</h1>
  <%= simple_form_for @bird do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
