<div class="container">
  <article class="card-60 social bg-white">

    <div class="flex justify-center items-center">
      <figure style="flex-grow: 1">
        <%= cl_image_tag @bird.photo, crop: :fill %>
      </figure>
    </div>

    <div class="flex-content">
      <header>
        <p class="user">

          <% if @bird.user == current_user %>
            <%= link_to "Edit #{@bird.name}", edit_bird_path, class: "button follow" %>
          <% else %>
            <%= link_to "Rent #{@bird.name}", new_bird_rental_path(@bird), class: "button follow" %>
          <% end %>

          <% if @bird.user == current_user %>
            <%= link_to "Delete #{@bird.name}", bird_path(@bird), class: "button follow", method: :delete %>
          <% end %>

          <img class="avatar-32" src="http://jlantunez.com/imgs/avatar.jpg" alt="Avatar">
          <strong><a title="Full Name" href="#">Blackbeard</a></strong>
          <span>8 mins ago &middot; </span>
        </p>
      </header>

      <h2>
          <%= @bird.name %>
      </h2>

      <p>
          <%= @bird.description %>
      </p>

      <ul>
        <li>
          <strong title="Price">Price:</strong>
          <%= @bird.price %> pirate dollars
        </li>
        <li><strong title="Location">Location:</strong> <%= @bird.location %> </li>
      </ul>

      <footer>
        <p>
          <a class="bt-love" title="Love" href="#">Love</a>
          <a class="bt-comment" title="Comment" href="#">Comment</a>
        </p>
      </footer>
    </div>

  </article>
</div>

